.section-about {
  text-align: center; }
  .section-about .wrapper {
    max-width: var(--main-width);
    height: auto;
    padding: 1em 4em;
    margin-top: 2em;
    border-radius: var(--border-radius-logo);
    background: var(--bgrd-link);
    color: var(--color-link);
    transition: background-color 2s ease-in-out, color 2s ease-in-out; }
    .section-about .wrapper:hover {
      transition-delay: 0.4s;
      background: var(--color-link);
      color: var(--bgrd-link); }
    .section-about .wrapper h2 {
      padding-bottom: 1em; }
  .section-about span {
    font-weight: bold; }
