.section-about {
  text-align: center; }
  .section-about .wrapper {
    width: 100%;
    height: 100vh;
    padding: 2em 6em;
    margin-top: 2em;
    border-radius: 40%;
    overflow: hidden;
    background: var(--bgrd-link);
    color: var(--color-link);
    transition: all 2s ease-in-out; }
    .section-about .wrapper:hover {
      transition-delay: 0.4s;
      background: var(--color-link);
      color: var(--bgrd-link); }
  .section-about span {
    font-weight: bold; }
