.contact {
  padding: 0;
  margin: 0.5em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense;
  color: var(--color-border); }
  .contact h2, .contact h3 {
    text-align: center;
    padding-top: 1em; }
  .contact h2,
  .contact .section-map {
    grid-column: span 12; }
  .contact h2::after {
    display: block;
    content: '';
    background: var(--color-border);
    height: 2px;
    width: 20%;
    margin: 0 auto;
    margin-top: 0.5em; }
  .contact .section-info,
  .contact .section-message {
    grid-column: span 6;
    border: 2px solid var(--color-link);
    border-radius: var(--border-radius-def);
    padding: 3em; }
  .contact .section-info > p:nth-child(2) {
    text-align: center;
    padding-bottom: 2em; }
  .contact .section-info p {
    padding: 0.5em 1em; }
  .contact .section-message form {
    display: grid;
    grid-column: span 6;
    margin: 1em 2em; }
    .contact .section-message form input, .contact .section-message form output, .contact .section-message form textarea, .contact .section-message form select {
      outline: none;
      border: none;
      border: 1px solid var(--color-link);
      border-radius: var(--border-radius-def); }
    .contact .section-message form p {
      padding-bottom: 0.5em; }
    .contact .section-message form input, .contact .section-message form textarea {
      width: 100%; }
    .contact .section-message form input[type="submit"] {
      padding: 0;
      color: var(--color-border); }
    .contact .section-message form label {
      padding: 0; }
  .contact .section-map iframe {
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius-logo);
    width: 100%;
    height: 60vh; }
