.gallery {
  padding: 0 1em;
  margin: 0;
  margin-top: 10em;
  background: var(--bgrd-link); }
  .gallery header {
    padding-top: 0.5em;
    text-align: center; }
    .gallery header p {
      padding-bottom: 1em; }
    .gallery header::after {
      display: block;
      content: '';
      background: var(--color-border);
      height: 2px;
      width: 25%;
      margin: 0 auto;
      margin-bottom: 2em; }

.content {
  display: grid;
  padding: 1em 0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense; }
  .content li, .content span, .content img {
    display: block; }
  .content li {
    list-style: none outside;
    overflow: hidden;
    grid-column: span 2;
    grid-row: span 1; }
    .content li:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 25px 3px rgba(29, 226, 226, 0.87); }
    .content li span {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden; }
      .content li span:before {
        display: block;
        content: '';
        padding-top: 100%; }
      .content li span img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .content li.portrait {
      grid-column: span 1;
      grid-row: span 2; }
      .content li.portrait :before {
        display: flex;
        padding-top: calc(200% + 1em); }
      .content li.portrait img {
        height: 100%;
        width: auto; }
    .content li.portrait img,
    .content li.small img {
      width: auto;
      height: 100%; }
    .content li.small {
      grid-column: span 1;
      grid-row: span 1; }
      .content li.small:before {
        padding-top: 100%; }

@media (max-width: 640px) {
  .content {
    grid-template-columns: repeat(2, 1fr); } }
