.main-picture {
  background: url(https://images.unsplash.com/photo-1494913148647-353ae514b35e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80), rgba(0, 0, 0, 0.9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 100%;
  color: white;
  padding: 10em 2em;
  margin: 0.5em auto;
  margin-top: 1em;
  text-align: center; }
  .main-picture button {
    padding: 2em auto;
    outline: none;
    border: 1px solid var(--color-border);
    background: var(--color-link);
    color: var(--bgrd-link);
    padding: 0.5em; }
    .main-picture button:hover {
      background: var(--bgrd-link);
      color: var(--color-link);
      border-color: var(--color-link);
      cursor: pointer; }

.main-welcome {
  background: var(--color-link);
  margin-bottom: 0.5em; }
  .main-welcome header {
    padding-top: 0.5em;
    text-align: center; }
    .main-welcome header p {
      padding-bottom: 1em; }
    .main-welcome header::after {
      display: block;
      content: '';
      background: var(--color-border);
      height: 2px;
      width: 25%;
      margin: 0 auto;
      margin-bottom: 2em; }
  .main-welcome .welcome-section-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5em; }
    .main-welcome .welcome-section-content section {
      flex: 0 0 31%;
      border: 2px solid var(--color-border);
      border-radius: var(--border-radius-def);
      padding: 0.5em;
      margin-bottom: 0.5em; }
      .main-welcome .welcome-section-content section h4 {
        text-align: center;
        padding: 2em auto;
        margin: 0;
        margin-top: 2em; }
      .main-welcome .welcome-section-content section p {
        padding: 0.5em; }
      .main-welcome .welcome-section-content section span {
        display: block;
        position: relative;
        border-radius: 10px;
        overflow: hidden; }
        .main-welcome .welcome-section-content section span:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        .main-welcome .welcome-section-content section span img {
          display: block;
          width: 100%;
          height: auto; }

.main-requirements {
  background: var(--bgrd-link);
  margin-bottom: 0.5em; }
  .main-requirements h2 {
    text-align: center;
    padding-top: 0.5em; }
    .main-requirements h2::after {
      display: block;
      content: '';
      background: var(--color-border);
      height: 2px;
      width: 25%;
      margin: 1em auto;
      margin-bottom: 2em; }
  .main-requirements .requirements-section-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5em; }
    .main-requirements .requirements-section-content > section {
      display: block;
      flex: 0 0 23%;
      border: 2px solid var(--color-link);
      border-radius: var(--border-radius-def);
      padding: 0.5em;
      margin-bottom: 0.5em; }
      .main-requirements .requirements-section-content > section h4 {
        text-align: center;
        padding-bottom: 1em; }
      .main-requirements .requirements-section-content > section p {
        padding: 0.5em; }

.main-camera {
  display: flex;
  justify-content: center;
  border: 2px solid var(--color-link);
  border-radius: var(--border-radius-def); }
  .main-camera .picture {
    flex: 0 0 30%;
    padding: 1em; }
    .main-camera .picture span {
      width: 100%;
      display: block;
      position: relative;
      background: var(--bgrd-link);
      border-radius: var(--border-radius-logo);
      overflow: hidden; }
      .main-camera .picture span:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .main-camera .picture span img {
        display: block;
        width: 100%;
        height: auto; }
  .main-camera .main-camera-content {
    padding: 2em 1em; }
    .main-camera .main-camera-content h2 {
      text-align: center; }
    .main-camera .main-camera-content p {
      display: block;
      padding: 0;
      padding-bottom: 0.5em; }

@media (max-width: 960px) {
  .main-requirements .requirements-section-content {
    flex-wrap: wrap; }
    .main-requirements .requirements-section-content > section {
      flex: 0 0 46%; }
  .main-camera {
    flex-wrap: wrap; }
    .main-camera .picture {
      flex: 0 0 40%; }
    .main-camera .main-camera-content {
      padding: 1em; } }

@media (max-width: 640px) {
  .main-welcome .welcome-section-content {
    flex-wrap: wrap; }
    .main-welcome .welcome-section-content section {
      flex: 0 0 75%; }
  .main-camera .picture {
    flex: 0 0 70%; } }
