.services {
  background: var(--bgrd-link);
  margin-top: 1em; }
  .services h2, .services h6 {
    text-align: center; }
  .services h2::after {
    display: block;
    content: '';
    background: var(--color-border);
    height: 2px;
    width: 15%;
    margin: 0.5em auto; }
  .services h4 {
    padding: 1em 0 0 1em; }
  .services li {
    list-style-type: circle; }
  .services .services-container > section {
    background: var(--color-link);
    border-radius: var(--border-radius-def);
    margin: 0.3em; }
  .services .services-wrapper {
    display: flex; }
    .services .services-wrapper .services-picture {
      display: block;
      flex: 0 0 25%;
      padding: 0.5em;
      margin-bottom: 1em; }
    .services .services-wrapper span {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      margin-top: 1em;
      position: relative;
      overflow: hidden;
      border-radius: var(--border-radius-def); }
      .services .services-wrapper span:before {
        display: block;
        content: '';
        padding-top: 100%; }
      .services .services-wrapper span img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .services .services-wrapper span .landscape {
        width: auto;
        height: 100%; }
    .services .services-wrapper .services-content {
      display: flex;
      padding: 1em;
      flex: 0 0 75%;
      justify-content: space-around; }
      .services .services-wrapper .services-content section:nth-child(1) {
        padding-right: 1em; }
    .services .services-wrapper .small {
      display: block;
      flex: 0 0 75%;
      justify-content: center;
      align-items: center; }
      .services .services-wrapper .small h6 {
        padding-bottom: 1em; }
      .services .services-wrapper .small p {
        padding-top: 1em;
        padding-bottom: 0; }

@media (max-width: 640px) {
  .services-container {
    flex-wrap: wrap; }
    .services-container .services-wrapper {
      display: block;
      flex-wrap: wrap; }
    .services-container .services-content {
      flex-wrap: wrap; } }
