@import 'https://use.fontawesome.com/releases/v5.8.2/css/all.css';
:root {
  --main-width: 90em;
  --color-body-text: #000;
  --color-body-bgrd: #FFF;
  --color-link: rgb(29, 226, 226);
  --bgrd-link: rgb(238, 238, 238);
  --color-border: #999; }

/* Reset.css */
*, *::before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* Box sizing */
html {
  box-sizing: border-box;
  font: 14px/1.5 PT Sans, Helvetica, Verdana, sans-serif; }

body, input, textarea, option, select, table, form {
  font: inherit; }

@media (min-width: 600px) {
  html {
    font-size: 16px; } }

@media (min-width: 1024px) {
  html {
    font-size: 18px; } }

@media (min-width: 1600px) {
  html {
    font-size: 20px; } }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author::before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

a {
  text-decoration: none; }

.site {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 2em; }
  .site .site-header {
    display: flex;
    align-items: center; }
    .site .site-header .site-title {
      padding: 0.2em;
      margin: 0;
      font-size: 2em; }
    .site .site-header nav {
      margin-left: auto; }

.site-title {
  border: 2px solid var(--color-link);
  border-radius: 40%;
  background: var(--bgrd-link); }
  .site-title a {
    color: var(--color-link); }
  .site-title i {
    font-size: 0.7em; }
  .site-title span {
    padding: 0.2em; }
  .site-title:hover {
    background: var(--color-link); }
    .site-title:hover a {
      color: var(--bgrd-link); }

.site-nav > ul {
  display: flex;
  padding: 0; }
  .site-nav > ul ul {
    display: block;
    pointer-events: none;
    padding: 0.2em;
    position: absolute;
    top: 100%;
    left: 0; }
    .site-nav > ul ul li {
      opacity: 0;
      transform: translate(-1em, -0.5em);
      transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; }
      .site-nav > ul ul li:nth-child(1) {
        transition-delay: 0.1s; }
      .site-nav > ul ul li:nth-child(2) {
        transition-delay: 0.2s; }
      .site-nav > ul ul li:nth-child(3) {
        transition-delay: 0.3s; }
      .site-nav > ul ul li:nth-child(4) {
        transition-delay: 0.4s; }
      .site-nav > ul ul li:nth-child(5) {
        transition-delay: 0.5s; }
      .site-nav > ul ul li:nth-child(6) {
        transition-delay: 0.6s; }
      .site-nav > ul ul li:nth-child(7) {
        transition-delay: 0.7s; }

.site-nav li {
  display: block;
  list-style: none outside;
  padding: 0 0.2em;
  position: relative; }
  .site-nav li li {
    padding: 0; }
    .site-nav li li:not(:last-child) {
      margin-bottom: 0.5em; }
  .site-nav li:hover ul {
    pointer-events: all; }
  .site-nav li:hover li {
    opacity: 1;
    transform: translateY(0); }

.site-nav > li:first-child {
  padding-left: 0; }

.site-nav a {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  color: var(--color-link); }

.site-nav li:hover > a,
.site-nav li.selected > a,
.site-nav a:hover {
  background: var(--color-link);
  color: var(--bgrd-link); }

.site-nav a i.fas:before {
  color: var(--color-link);
  margin-right: 0.2em; }

.site-nav li:hover > a i.fas:before,
.site-nav li.selected > a i.fas:before,
.site-nav a:hover i.fas:before {
  color: var(--bgrd-link); }

.main-picture {
  background: url(https://images.unsplash.com/photo-1494913148647-353ae514b35e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80), rgba(0, 0, 0, 0.9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 100%;
  color: white;
  padding: 10em;
  margin: 0.5em auto;
  text-align: center; }

.main-welcome {
  background: var(--color-link);
  margin-bottom: 0.5em; }
  .main-welcome header {
    text-align: center; }
    .main-welcome header p {
      padding-bottom: 1em; }
    .main-welcome header::after {
      display: block;
      content: '';
      background: var(--color-border);
      height: 2px;
      width: 25%;
      margin: 0 auto;
      margin-bottom: 2em; }
  .main-welcome .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0.5em; }
    .main-welcome .section-content section {
      flex: 0 0 31%;
      border: 2px solid var(--color-border);
      border-radius: 10px;
      padding: 0.5em; }
      .main-welcome .section-content section h4 {
        text-align: center;
        padding-bottom: 1em; }
      .main-welcome .section-content section p {
        padding: 0.5em; }
      .main-welcome .section-content section span {
        display: block;
        position: relative; }
        .main-welcome .section-content section span:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        .main-welcome .section-content section span img {
          display: block;
          width: 100%;
          height: auto; }

.main-requirements {
  background: var(--bgrd-link);
  margin-bottom: 0.5em; }
  .main-requirements h2 {
    text-align: center; }
    .main-requirements h2::after {
      display: block;
      content: '';
      background: var(--color-border);
      height: 2px;
      width: 25%;
      margin: 0 auto; }
  .main-requirements .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0.5em; }
    .main-requirements .section-content section {
      flex: 0 0 23%;
      border: 2px solid var(--color-link);
      border-radius: 10px;
      padding: 0.5em; }
      .main-requirements .section-content section h4 {
        text-align: center;
        padding-bottom: 1em; }
      .main-requirements .section-content section p {
        padding: 0.5em; }

.main-camera {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--color-link);
  border-radius: 10px; }
  .main-camera .picture {
    flex: 0 0 30%;
    padding: 1em; }
    .main-camera .picture span {
      width: 100%;
      display: block;
      position: relative;
      background: var(--bgrd-link);
      border-radius: 40%;
      overflow: hidden; }
      .main-camera .picture span:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .main-camera .picture span img {
        display: block;
        width: 100%;
        height: auto; }
  .main-camera .content {
    padding: 2em 1em; }
    .main-camera .content h2 {
      text-align: center; }
    .main-camera .content p {
      padding: 0;
      padding-bottom: 0.5em; }

form {
  max-width: 30rem;
  margin: 4rem auto; }

form fieldset {
  display: block;
  border: 2px solid var(--color-border);
  background: var(--bgrd-link);
  border-radius: 4px;
  margin-bottom: 1em; }

form fieldset p {
  padding: 0.5rem 1rem 1rem 1rem; }

form legend {
  display: inline-block;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  margin-left: -0.1rem;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  background: var(--bgrd-link); }

form label {
  display: block;
  font-weight: bold;
  padding: 1rem 0 0 1rem; }

form input[type="password"],
form input[type="text"] {
  display: block;
  width: 90%;
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  margin: 0;
  color: var(--color-link);
  background: var(--bgrd-link); }

form input[type="submit"]:hover {
  color: var(--bgrd-link);
  background: var(--color-link); }

.field-icon {
  display: flex; }

form .field-icon label {
  order: 1; }

form .field-icon input {
  order: 2; }

form .field-icon label {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  background: #fff;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0; }

form .field-icon input:focus + label,
form .field-icon input:hover + label {
  border-color: var(--color-link);
  color: var(--color-link); }

form .field-icon input:focus,
form .field-icon input:hover {
  border-color: var(--color-link); }

form a {
  color: var(--color-link);
  padding-left: 1em; }

.contact {
  padding: 0;
  margin: 0.5em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense;
  color: var(--color-border); }
  .contact h2, .contact h3 {
    text-align: center;
    padding-top: 1em; }
  .contact h2,
  .contact .section-map {
    grid-column: span 12; }
  .contact .section-info,
  .contact .section-message {
    grid-column: span 6;
    border: 2px solid var(--color-link);
    border-radius: 10%;
    padding: 3em; }
  .contact .section-info p {
    padding: 0.5em 1em; }
  .contact .section-message form {
    display: grid;
    grid-column: span 6;
    margin: 1em 2em; }
    .contact .section-message form input, .contact .section-message form output, .contact .section-message form textarea, .contact .section-message form select {
      border: none;
      border: 1px solid var(--color-link); }
    .contact .section-message form p {
      padding-bottom: 0.5em; }
    .contact .section-message form input, .contact .section-message form textarea {
      width: 100%; }
    .contact .section-message form input[type="submit"] {
      padding: 0; }
    .contact .section-message form label {
      padding: 0; }
  .contact .section-map iframe {
    border: 2px solid var(--color-border);
    border-radius: 40%;
    width: 100%;
    height: 60vh; }

.section-about {
  text-align: center; }
  .section-about .wrapper {
    width: 100%;
    height: 100vh;
    padding: 2em 6em;
    margin-top: 2em;
    border-radius: 40%;
    overflow: hidden;
    background: var(--bgrd-link);
    color: var(--color-link);
    transition: all 2s ease-in-out; }
    .section-about .wrapper:hover {
      transition-delay: 0.4s;
      background: var(--color-link);
      color: var(--bgrd-link); }
  .section-about span {
    font-weight: bold; }
