@import 'https://use.fontawesome.com/releases/v5.8.2/css/all.css';
:root {
  --main-width: 90em;
  --color-body-text: #000;
  --color-body-bgrd: #FFF;
  --color-link: rgb(29, 226, 226);
  --bgrd-link: rgb(238, 238, 238);
  --color-border: #999;
  --border-radius-logo: 40%;
  --border-radius-def: 10px; }

/* Reset.css */
*, *::before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* Box sizing */
html {
  box-sizing: border-box;
  font: 14px/1.5 PT Sans, Helvetica, Verdana, sans-serif; }

body, input, textarea, option, select, table, form {
  font: inherit; }

@media (min-width: 600px) {
  html {
    font-size: 16px; } }

@media (min-width: 1024px) {
  html {
    font-size: 18px; } }

@media (min-width: 1600px) {
  html {
    font-size: 20px; } }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author::before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

a {
  text-decoration: none; }

.site {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 2em; }
  .site .site-header {
    display: flex;
    align-items: center; }
    .site .site-header .site-title {
      padding: 0.2em;
      margin: 0;
      font-size: 2em; }
    .site .site-header nav {
      margin-left: auto; }
  .site .site-footer {
    padding: 0;
    margin-top: 2em;
    display: flex;
    text-align: center; }
    .site .site-footer ul {
      display: flex;
      margin-left: auto;
      padding: 0.5em 2em 0.5em 0; }
    .site .site-footer li {
      list-style: none outside;
      display: flex;
      padding-right: 1em; }
      .site .site-footer li:last-child {
        padding-right: 0; }
    .site .site-footer a {
      color: var(--color-link);
      font-size: 1.5em; }
      .site .site-footer a:hover {
        color: var(--bgrd-link); }
    .site .site-footer p {
      padding: 1em 0;
      padding-left: 2em; }

.site-title {
  padding: 0;
  display: flex;
  width: 6em; }
  .site-title .logo-normal {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden; }
    .site-title .logo-normal:before {
      display: block;
      content: '';
      padding-top: 50%; }
    .site-title .logo-normal img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .site-title .logo-hover {
    display: none;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden; }
    .site-title .logo-hover:before {
      display: block;
      content: '';
      padding-top: 50%; }
    .site-title .logo-hover img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .site-title:hover .logo-normal {
    display: none;
    opacity: 0;
    pointer-events: none; }
  .site-title:hover .logo-hover {
    display: block;
    opacity: 1;
    pointer-events: all; }

.site-nav > ul {
  display: flex;
  padding: 0;
  z-index: 1; }
  .site-nav > ul ul {
    display: block;
    pointer-events: none;
    padding: 0.2em;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--bgrd-link);
    opacity: 0;
    transform: translate(-1em, -0.5em);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; }
    .site-nav > ul ul li {
      opacity: 0;
      transform: translate(-1em, -0.5em);
      transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; }
      .site-nav > ul ul li:nth-child(1) {
        transition-delay: 0.1s; }
      .site-nav > ul ul li:nth-child(2) {
        transition-delay: 0.2s; }
      .site-nav > ul ul li:nth-child(3) {
        transition-delay: 0.3s; }
      .site-nav > ul ul li:nth-child(4) {
        transition-delay: 0.4s; }
      .site-nav > ul ul li:nth-child(5) {
        transition-delay: 0.5s; }

.site-nav li {
  display: block;
  list-style: none outside;
  padding: 0 0.2em;
  position: relative; }
  .site-nav li li {
    padding: 0; }
    .site-nav li li:not(:last-child) {
      margin-bottom: 0.5em; }
  .site-nav li:hover ul {
    pointer-events: all;
    background: var(--bgrd-link);
    opacity: 0.9;
    border-radius: 0.3em;
    transform: translate(0, 0); }
  .site-nav li:hover li {
    opacity: 1;
    transform: translate(0, 0); }

.site-nav > li:first-child {
  padding-left: 0; }

.site-nav a {
  display: block;
  padding: 0.3em;
  border-radius: 0.3em;
  color: var(--color-link); }

.site-nav li:hover > a,
.site-nav li.selected > a,
.site-nav a:hover {
  background: var(--color-link);
  color: var(--bgrd-link); }

.nav-toggle {
  opacity: 0;
  pointer-events: none;
  position: absolute; }

.nav-toggle-button {
  display: none;
  margin-left: auto;
  font-size: 2em;
  color: var(--color-link); }
  .nav-toggle-button:hover {
    color: var(--bgrd-link); }

@media (max-width: 960px) {
  .site-nav ul a {
    padding: 0.2em; }
    .site-nav ul a i {
      display: none;
      opacity: 0; } }

@media (max-width: 640px) {
  .nav-toggle-button {
    display: block; }
  .site-nav {
    text-align: center; }
    .site-nav .nav {
      display: none; }
  .nav-toggle:checked + .site-nav .nav {
    display: block;
    position: absolute;
    background: var(--bgrd-link);
    opacity: 0.9;
    font-size: 1.5em; }
    .nav-toggle:checked + .site-nav .nav ul {
      position: absolute;
      top: 0;
      transform: translateX(-100%);
      width: 120%;
      padding-right: 1em; }
      .nav-toggle:checked + .site-nav .nav ul li {
        display: block;
        width: 120%; } }

.main-picture {
  background: url(https://images.unsplash.com/photo-1494913148647-353ae514b35e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80), rgba(0, 0, 0, 0.9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 100%;
  color: white;
  padding: 10em 2em;
  margin: 0.5em auto;
  text-align: center; }
  .main-picture button {
    padding: 2em auto;
    outline: none;
    border: 1px solid var(--color-border);
    background: var(--color-link);
    color: var(--bgrd-link);
    padding: 0.5em; }
    .main-picture button:hover {
      background: var(--bgrd-link);
      color: var(--color-link);
      border-color: var(--color-link);
      cursor: pointer; }

.main-welcome {
  background: var(--color-link);
  margin-bottom: 0.5em; }
  .main-welcome header {
    padding-top: 0.5em;
    text-align: center; }
    .main-welcome header p {
      padding-bottom: 1em; }
    .main-welcome header::after {
      display: block;
      content: '';
      background: var(--color-border);
      height: 2px;
      width: 25%;
      margin: 0 auto;
      margin-bottom: 2em; }
  .main-welcome .welcome-section-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5em; }
    .main-welcome .welcome-section-content section {
      flex: 0 0 31%;
      border: 2px solid var(--color-border);
      border-radius: var(--border-radius-def);
      padding: 0.5em;
      margin-bottom: 0.5em; }
      .main-welcome .welcome-section-content section h4 {
        text-align: center;
        padding: 2em auto;
        margin: 0;
        margin-top: 2em; }
      .main-welcome .welcome-section-content section p {
        padding: 0.5em; }
      .main-welcome .welcome-section-content section span {
        display: block;
        position: relative;
        border-radius: 10px;
        overflow: hidden; }
        .main-welcome .welcome-section-content section span:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        .main-welcome .welcome-section-content section span img {
          display: block;
          width: 100%;
          height: auto; }

.main-requirements {
  background: var(--bgrd-link);
  margin-bottom: 0.5em; }
  .main-requirements h2 {
    text-align: center;
    padding-top: 0.5em; }
    .main-requirements h2::after {
      display: block;
      content: '';
      background: var(--color-border);
      height: 2px;
      width: 25%;
      margin: 1em auto;
      margin-bottom: 2em; }
  .main-requirements .requirements-section-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5em; }
    .main-requirements .requirements-section-content > section {
      display: block;
      flex: 0 0 23%;
      border: 2px solid var(--color-link);
      border-radius: var(--border-radius-def);
      padding: 0.5em;
      margin-bottom: 0.5em; }
      .main-requirements .requirements-section-content > section h4 {
        text-align: center;
        padding-bottom: 1em; }
      .main-requirements .requirements-section-content > section p {
        padding: 0.5em; }

.main-camera {
  display: flex;
  justify-content: center;
  border: 2px solid var(--color-link);
  border-radius: var(--border-radius-def); }
  .main-camera .picture {
    flex: 0 0 30%;
    padding: 1em; }
    .main-camera .picture span {
      width: 100%;
      display: block;
      position: relative;
      background: var(--bgrd-link);
      border-radius: var(--border-radius-logo);
      overflow: hidden; }
      .main-camera .picture span:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .main-camera .picture span img {
        display: block;
        width: 100%;
        height: auto; }
  .main-camera .main-camera-content {
    padding: 2em 1em; }
    .main-camera .main-camera-content h2 {
      text-align: center; }
    .main-camera .main-camera-content p {
      display: block;
      padding: 0;
      padding-bottom: 0.5em; }

@media (max-width: 960px) {
  .main-requirements .requirements-section-content {
    flex-wrap: wrap; }
    .main-requirements .requirements-section-content > section {
      flex: 0 0 46%; }
  .main-camera {
    flex-wrap: wrap; }
    .main-camera .picture {
      flex: 0 0 40%; }
    .main-camera .main-camera-content {
      padding: 1em; } }

@media (max-width: 640px) {
  .main-welcome .welcome-section-content {
    flex-wrap: wrap; }
    .main-welcome .welcome-section-content section {
      flex: 0 0 75%; }
  .main-camera .picture {
    flex: 0 0 70%; } }

form {
  max-width: 30rem;
  margin: 4rem auto; }
  form fieldset {
    display: block;
    border: 2px solid var(--color-border);
    background: var(--bgrd-link);
    border-radius: var(--border-radius-def);
    margin-bottom: 1em; }
    form fieldset p {
      padding: 0.5rem 1rem 1rem 1rem; }
  form legend {
    display: inline-block;
    padding: 0.5rem 5rem 0.5rem 0.5rem;
    margin-left: -0.2rem;
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius-def);
    background: var(--bgrd-link); }
  form label {
    display: block;
    font-weight: bold;
    padding: 1rem 0 0 1rem; }
  form input[type="password"],
  form input[type="text"] {
    outline: none;
    display: block;
    width: 90%;
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius-def);
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  form input[type="submit"] {
    outline: none;
    border: 2px solid var(--color-border);
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    margin: 0;
    margin-top: 2em;
    background: var(--bgrd-link);
    border-radius: var(--border-radius-def); }
    form input[type="submit"]:hover {
      color: var(--bgrd-link);
      background: var(--color-link);
      border-color: var(--color-link); }
  form a {
    color: var(--color-link);
    padding-left: 1em; }
  form .field-icon {
    display: flex; }
    form .field-icon label {
      order: 1; }
    form .field-icon input {
      order: 2; }
    form .field-icon label {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--color-border);
      border-radius: var(--border-radius-def);
      background: #fff;
      border-right: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      padding: 0; }
    form .field-icon input:focus + label,
    form .field-icon input:hover + label {
      border-color: var(--color-link);
      color: var(--color-link); }
    form .field-icon input:focus,
    form .field-icon input:hover {
      border-color: var(--color-link); }

.contact {
  padding: 0;
  margin: 0.5em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense;
  color: var(--color-border); }
  .contact h2, .contact h3 {
    text-align: center;
    padding-top: 1em; }
  .contact h2,
  .contact .section-map {
    grid-column: span 12; }
  .contact h2::after {
    display: block;
    content: '';
    background: var(--color-border);
    height: 2px;
    width: 20%;
    margin: 0 auto;
    margin-top: 0.5em; }
  .contact .section-info,
  .contact .section-message {
    grid-row: span 6;
    border: 2px solid var(--color-link);
    border-radius: var(--border-radius-def);
    padding: 3em; }
  .contact .section-info > p:nth-child(2) {
    text-align: center;
    padding-bottom: 2em; }
  .contact .section-info p {
    padding: 0.5em 1em; }
  .contact .section-message form {
    display: grid;
    grid-column: span 6;
    margin: 1em 2em; }
    .contact .section-message form input, .contact .section-message form output, .contact .section-message form textarea, .contact .section-message form select {
      outline: none;
      border: none;
      border: 1px solid var(--color-link);
      border-radius: var(--border-radius-def); }
    .contact .section-message form p {
      padding-bottom: 0.5em; }
    .contact .section-message form input, .contact .section-message form textarea {
      width: 100%; }
    .contact .section-message form input[type="submit"] {
      padding: 0;
      color: var(--color-border); }
    .contact .section-message form label {
      padding: 0; }
  .contact .section-map iframe {
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius-logo);
    width: 100%;
    height: 60vh; }

@media (max-width: 640px) {
  .contact-container .section-info,
  .contact-container .section-message {
    justify-content: center;
    grid-row: span 6; } }

.section-about {
  text-align: center; }
  .section-about .wrapper {
    max-width: var(--main-width);
    height: auto;
    padding: 1em 4em;
    margin-top: 2em;
    border-radius: var(--border-radius-logo);
    background: var(--bgrd-link);
    color: var(--color-link);
    transition: background-color 2s ease-in-out, color 2s ease-in-out; }
    .section-about .wrapper:hover {
      transition-delay: 0.4s;
      background: var(--color-link);
      color: var(--bgrd-link); }
    .section-about .wrapper h2 {
      padding-bottom: 1em; }
  .section-about span {
    font-weight: bold; }

.services {
  background: var(--bgrd-link);
  margin-top: 1em; }
  .services h2, .services h6 {
    text-align: center; }
  .services h2::after {
    display: block;
    content: '';
    background: var(--color-border);
    height: 2px;
    width: 15%;
    margin: 0.5em auto; }
  .services h4 {
    padding: 1em 0 0 1em; }
  .services li {
    list-style-type: circle; }
  .services .services-container > section {
    background: var(--color-link);
    border-radius: var(--border-radius-def);
    margin: 0.3em; }
  .services .services-wrapper {
    display: flex;
    justify-content: center; }
    .services .services-wrapper .services-picture {
      display: block;
      flex: 0 0 25%;
      padding: 0.5em;
      margin-bottom: 1em; }
    .services .services-wrapper span {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      margin-top: 1em;
      position: relative;
      overflow: hidden;
      border-radius: var(--border-radius-def); }
      .services .services-wrapper span:before {
        display: block;
        content: '';
        padding-top: 100%; }
      .services .services-wrapper span img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .services .services-wrapper span .landscape {
        width: auto;
        height: 100%; }
    .services .services-wrapper .services-content {
      display: flex;
      padding: 1em;
      flex: 0 0 75%;
      justify-content: space-around; }
      .services .services-wrapper .services-content section:nth-child(1) {
        padding-right: 1em; }
    .services .services-wrapper .small {
      display: block;
      flex: 0 0 75%;
      justify-content: center;
      align-items: center; }
      .services .services-wrapper .small h6 {
        padding-bottom: 1em; }
      .services .services-wrapper .small p {
        padding-top: 1em;
        padding-bottom: 0; }

@media (max-width: 640px) {
  .services .services-wrapper {
    display: flex;
    flex-wrap: wrap; }
    .services .services-wrapper .services-picture {
      flex: 0 0 70%; } }

.gallery {
  padding: 0 1em;
  margin: 0;
  margin-top: 10em;
  background: var(--bgrd-link); }
  .gallery header {
    padding-top: 0.5em;
    text-align: center; }
    .gallery header p {
      padding-bottom: 1em; }
    .gallery header::after {
      display: block;
      content: '';
      background: var(--color-border);
      height: 2px;
      width: 25%;
      margin: 0 auto;
      margin-bottom: 2em; }

.content {
  display: grid;
  padding: 1em 0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense; }
  .content li, .content span, .content img {
    display: block; }
  .content li {
    list-style: none outside;
    overflow: hidden;
    grid-column: span 2;
    grid-row: span 1; }
    .content li:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 25px 3px rgba(29, 226, 226, 0.87); }
    .content li span {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden; }
      .content li span:before {
        display: block;
        content: '';
        padding-top: 100%; }
      .content li span img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .content li.portrait {
      grid-column: span 1;
      grid-row: span 2; }
      .content li.portrait :before {
        display: flex;
        padding-top: calc(200% + 1em); }
      .content li.portrait img {
        height: 100%;
        width: auto; }
    .content li.portrait img,
    .content li.small img {
      width: auto;
      height: 100%; }
    .content li.small {
      grid-column: span 1;
      grid-row: span 1; }
      .content li.small:before {
        padding-top: 100%; }

@media (max-width: 640px) {
  .content {
    grid-template-columns: repeat(2, 1fr); } }
