.section-about {
    text-align: center;
    
    .wrapper {
        max-width: var(--main-width);
        height: 100vh;
        padding: 1em 6em;
        margin-top: 2em;
        border-radius: var(--border-radius-logo);
        background: var(--bgrd-link);
        color: var(--color-link);
        transition: background-color 2s ease-in-out, color 2s ease-in-out;

        &:hover {
            transition-delay: 0.4s;
            background: var(--color-link);
            color: var(--bgrd-link);    
        }

        h2 {
            padding-bottom: 2em;
        }
    }
    
    span {
      font-weight: bold;
    }    
}


