.main-picture {
    background: url(https://images.unsplash.com/photo-1494913148647-353ae514b35e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80), rgba(0, 0 ,0 , 0.9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 100%;
    color: rgb(255, 255, 255);
    padding: 10em;
    margin: 0.5em auto;
    text-align:center;
}

.main-requirements {

    background: var(--bgrd-link);

    h2 {
        text-align: center;

        &::after {
            display: block;
            content: '';
            background: var(--color-border);
            height: 2px;
            width: 25%;
            margin: 0 auto;            
        }
    }


    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 0.5em;

        & section {
            flex: 0 0 23%;
            border: 2px solid var(--color-link);
            padding: 0.5em;

            h4 {
                text-align: center;
                padding-bottom: 1em;
            }

            p {
                padding: 0.5em;
            }
        }

    }
}