@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.site-title {
    font-family: 'Courgette', cursive;
    border: 2px solid var(--color-link);
    border-radius: 40%;
    background: var(--bgrd-link);

    a {
        color: var(--color-link);
    }
    
    i {
        font-size: 0.7em;
    }

    span {
        padding: 0.2em;
    }

    &:hover {
        background: var(--color-link);

        a {
            color: var(--bgrd-link);
        }
    }
}